body {
	font-family: Helvetica;
}

h2 {
	text-align: center;
}

.cardInput {
	border: 3px solid gray;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  list-style-type: none;
  resize: none;
}

.listTitleInput {
  resize: none;
  color: gray;
  width: 97%;
  border: none;
}

.list {
  width: 12%;
	border: 3px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 1rem;

}

.cardBox {
	position: relative;
  text-align: center;
}

.deleteButton {
	position: absolute;
  top: 1rem;
  left: 7.5rem;
  font-size: 2rem;
  cursor:pointer;
}

ul {
  padding: 0;
  list-style-type: none;  
}
    