body {
	font-family: Helvetica;
}

h2 {
	text-align: center;
}

.card {
	border: 3px solid gray;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  list-style-type: none;
  resize: none;
}

.cardList {
	border: 3px solid black;
}

.cardBox {
	position: relative;
}

.deleteButton {
	position: absolute;
  top: 1rem;
  left: 7.5rem;
  font-size: 2rem;
  cursor:pointer;
}
    